<% @posts.each do |post| %>
	
	<div class="well">
		<h3><%= post.candy_crush %></h3>
		<h3><%= post.flappy_bird %></h3>
		<h3><%= post.piano_tiles %></h3>
		<h3><%= post.gbd %></h3>
		<h3><%= post.twenty %></h3>
		<h3><%= post.fruit_ninja %></h3>
		<h3><%= post.minion_rush %></h3>
		<h3><%= post.fuse %></h3>
		<h3><%= post.iron_pants %></h3>
		<h3><%= post.temple_run %></h3>	
		<p><%= post.message %></p>	
	</div>

<% end %>
<%= link_to 'Post Score', new_post_path %>
